.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.header {
  display: flex;
  padding: 30px 80px 40px;
  height: 800px;
  background-image: url(../images/background_header.svg);
  background-color: #fff;
  position: relative;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__title {
  max-width: 729px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
}
.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", "serif";
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
  display: flex;
}
.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", "serif";
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}
.header__image {
  position: absolute;
  height: 568px;
  width: 646px;
  top: 124px;
  right: 5px;
}

.header__paragraph {
  display: flex;
  margin-top: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.nav__logo {
  position: relative;
  height: 39px;
  width: 105px;
  left: -50px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
a {
  text-decoration: none;
  color: black;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  color: #6f6f6f;
  align-items: flex-end;
}
.header__paragraph {
  margin: 0;
}
.recipes {
  color: #fff;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0a2750;
  padding: 100px 80px 215px;
  margin: 0;
}
.recipes__title {
  max-width: 680px;
  margin: 0 0 24px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.recipes__subtitle {
  margin: 0 0 80px;
  margin-bottom: 80px;
  font-family: "Noto Serif", "Times New Roman", "serif";
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  margin: 0;
}
.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.reservation {
  background-color: #fff;
  color: black;
  background-size: cover;
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0 120px;
  margin: 0;
}
.form {
  max-width: 385px;
}
.reservation__form {
  margin: 0 auto;
}
.reservation__title {
  text-align: center;
  margin: 0 0 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-color: #838383;
  width: 100%;
}
.form__label {
  display: block;
  font-size: 16px;
  line-height: 20px;
}
.form__input {
  padding: 15px 20px;
  margin: 8px 0 32px;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  border: 1px solid #838383;
  border-radius: 4px;
}
.form__button {
  margin: 32px 0 32px;
  padding: 20px 0 20px;
  width: 100%;
  margin-bottom: 32px;
  border: none;
  color: #fff;
  background-color: #1878dc;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}
.form__label_type-checkbox {
  display: flex;
  justify-content: center;
  gap: 20px;
}
